@* Footer *@
<footer class="flex-none bg-gray-800 text-center text-gray-300">
    <hr />
    <div class="container mx-auto px-6 pt-1 text-xs">
        <p class="mb-2">&copy; @DateTime.Now.Year BoardGameTacker. Alle Rechte vorbehalten.</p>
        <p>
            <a href="/impressum" class="underline hover:text-white">Impressum</a> |
            <a href="/datenschutz" class="underline hover:text-white">Datenschutz</a>
        </p>
    </div>
</footer>