@* Navigationsmenü auf der linken Seite *@
<nav class="flex shrink-0 flex-col space-y-6 overflow-y-auto bg-gray-800 p-6 text-gray-100 md:w-64 md:sticky md:top-0 md:h-screen">
    @* Logo oder App-Name *@
    <div class="mb-10 flex-none text-center text-2xl font-semibold text-white md:text-left">
        BoardGameTacker
    </div>
    @* Navigationslinks *@
    <ul class="flex-grow space-y-2">
        <li><a href="/" class="block rounded-lg px-4 py-2.5 transition duration-200 hover:bg-gray-700">Home</a></li>

    </ul>

    <Footer />
</nav>
